<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Lets blog compose</title>
</head>
<body>
  <div id="homeNav">
    <a id="home-button" href="/">Home</a> 
  </div>
  <div id="container">
    <div id="createBlogs">
      <button id="add">+</button>
    </div>
    <script src="script.js"></script>
</body>
</html>