<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Let,s blog</title>
</head>
<body>
  <div id="main">
    <div id="header">
      <img src="images/logo.png">
      <div id="tags">
        <a href="/compose">Create New blog</a>
        <a href="/compose">My blogs</a>
      </div>
    </div>
    <div id="index-container">
      <div id="intro"></div>
    </div>
    </div>
    <div id="footer">copyright &copy <%= new Date().getFullYear()%></div>
  </div>
  <script src="script.js"></script>
</body>
</html>